<div class="jumbotron">
    <h1>Manage</h1>
</div>
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
			<div class="row">
				<div class="col-xs-8">
					<h3 class="panel-title">Categories</h3>
				</div>
				<div class="col-xs-4">
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-th-large"/></button>
						<button type="button" class="btn btn-default btn-xs active"><i class="glyphicon glyphicon-th"/></button>
						<button type="button" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-th-list"/></button>
					</div>
				</div>
			</div>
		</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h4>Category Name</h4>
                            <p>Category Description</p>
                        </div>
					</div>
				</div>
                <div class="col-xs-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h4>Category Name</h4>
                            <p>Category Description</p>
                        </div>
					</div>
				</div>
                <div class="col-xs-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h4>Category Name</h4>
                            <p>Category Description</p>
                        </div>
					</div>
				</div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h4>Category Name</h4>
                            <p>Category Description</p>
                        </div>
					</div>
				</div>
                <div class="col-xs-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h4>Category Name</h4>
                            <p>Category Description</p>
                        </div>
					</div>
				</div>
                <div class="col-xs-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h4>Category Name</h4>
                            <p>Category Description</p>
                        </div>
					</div>
				</div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h4>Category Name</h4>
                            <p>Category Description</p>
                        </div>
					</div>
				</div>
                <div class="col-xs-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h4>Category Name</h4>
                            <p>Category Description</p>
                        </div>
					</div>
				</div>
                <div class="col-xs-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h4>Category Name</h4>
                            <p>Category Description</p>
                        </div>
					</div>
				</div>
            </div>
			<div class="row">
				<div class="col-xs-8"></div>
                <div class="col-xs-4">
                    <a href="#admin/categories/create" class="btn btn-primary btn-xs pull-right"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add New Category</a>
                </div>
            </div>
        </div>
        <div class="panel-footer">
			<div class="row">
				<div class="col-xs-12 text-center">
					<ul class="pagination pagination-sm">
						<li class="disabled"><a href="#">&laquo;</a></li>
						<li class="active"><a href="#">1</a></li>
						<li class="disabled"><a href="#">2</a></li>
						<li class="disabled"><a href="#">3</a></li>
						<li class="disabled"><a href="#">4</a></li>
						<li class="disabled"><a href="#">&raquo;</a></li>
					</ul>
				</div>
            </div>
        </div>
    </div>
</div>
