<div class="jumbotron">
	<h1>Manage</h1>
</div>
<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">
			<div class="row">
				<div class="col-xs-6">
					<h3 class="panel-title">Users</h3>
				</div>
				<div class="col-xs-6">
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-th-large"/></button>
						<button type="button" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-th"/></button>
						<button type="button" class="btn btn-default btn-xs active"><i class="glyphicon glyphicon-th-list"/></button>
					</div>
				</div>
			</div>
        </div>
		<div class="panel-body">
			<ul class="media-list">
				<li class="media">
					<a href="" class="pull-left media-object"><i class="fa fa-user fa-4x"></i></a>
					<div class="media-body">
						<h4 class="media-heading">Name</h4>
						<p>Email</p>
					</div>
				</li>
				<li class="media">
					<a href="" class="pull-left media-object"><i class="fa fa-user fa-4x"></i></a>
					<div class="media-body">
						<h4 class="media-heading">Name</h4>
						<p>Email</p>
					</div>
				</li>
				<li class="media">
					<a href="" class="pull-left media-object"><i class="fa fa-user fa-4x"></i></a>
					<div class="media-body">
						<h4 class="media-heading">Name</h4>
						<p>Email</p>
					</div>
				</li>
				<li class="media">
					<a href="" class="pull-left media-object"><i class="fa fa-user fa-4x"></i></a>
					<div class="media-body">
						<h4 class="media-heading">Name</h4>
						<p>Email</p>
					</div>
				</li>
				<li class="media">
					<a href="" class="pull-left media-object"><i class="fa fa-user fa-4x"></i></a>
					<div class="media-body">
						<h4 class="media-heading">Name</h4>
						<p>Email</p>
					</div>
				</li>
				<li class="media">
					<a href="" class="pull-left media-object"><i class="fa fa-user fa-4x"></i></a>
					<div class="media-body">
						<h4 class="media-heading">Name</h4>
						<p>Email</p>
					</div>
				</li>
				<li class="media">
					<a href="" class="pull-left media-object"><i class="fa fa-user fa-4x"></i></a>
					<div class="media-body">
						<h4 class="media-heading">Name</h4>
						<p>Email</p>
					</div>
				</li>
				<li class="media">
					<a href="" class="pull-left media-object"><i class="fa fa-user fa-4x"></i></a>
					<div class="media-body">
						<h4 class="media-heading">Name</h4>
						<p>Email</p>
					</div>
				</li>
			</ul>
		</div>
        <div class="panel-footer">
			<div class="row">
				<div class="col-sm-2 hidden-xs"></div>
				<div class="col-sm-8 text-center">
					<ul class="pagination pagination-sm">
						<li class="disabled"><a href="#">&laquo;</a></li>
						<li class="active"><a href="#">1</a></li>
						<li class="disabled"><a href="#">2</a></li>
						<li class="disabled"><a href="#">3</a></li>
						<li class="disabled"><a href="#">4</a></li>
						<li class="disabled"><a href="#">&raquo;</a></li>
					</ul>
				</div>
				<div class="col-sm-2 hidden-xs">
					<a href="#admin/users/create" class="btn btn-primary btn-xs pull-right"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add New User</a>
				</div>
				<div class="col-sm-2 visible-xs text-center">
					<a href="#admin/users/create" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add New User</a>
				</div>
            </div>
        </div>
    </div>
</div>
