<!--
<div class="row">
	<div class="col-md-offset-4 col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Admin Menu</h2>
			</div>
			<div class="panel-body">
				<div class="list-group">
					<a href="#admin/users" class="list-group-item">Users Menu</a>
					<a href="#mainMenu" class="list-group-item">Main Menu</a>
				</div>
			</div>
		</div>
	</div>
</div>
-->
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Admin Menu</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Users</a></li>
				<li><a href="#">Roles</a></li>
				<li><a href="#">Categories</a></li>
				<li><a href="#">Pages</a></li>
			</ul>
		</div>
	</div>
</nav>
<!--
<div class="jumbotron">
	Admin Menu
</div>
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><small><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Users</small></h4>
        </div>
        <table class="table table-hover table-condensed">
            <tr><td>...</td></tr>
            <tr><td>...</td></tr>
            <tr><td>...</td></tr>
        </table>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <a href="#admin/users/create" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add User</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><small><i class="glyphicon glyphicon-lock"></i>&nbsp;&nbsp;Roles</small></h4>
        </div>
        <table class="table table-hover table-condensed">
            <tr><td>...</td></tr>
            <tr><td>...</td></tr>
            <tr><td>...</td></tr>
        </table>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <a href="#admin/roles/create" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add Role</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><small><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Categories</small></h4>
        </div>
        <table class="table table-hover table-condensed">
            <tr><td>...</td></tr>
            <tr><td>...</td></tr>
            <tr><td>...</td></tr>
        </table>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <a href="#admin/categories/create" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add Category</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><small><i class="glyphicon glyphicon-file"></i>&nbsp;&nbsp;Pages</small></h4>
        </div>
        <table class="table table-hover table-condensed">
            <tr><td>...</td></tr>
            <tr><td>...</td></tr>
            <tr><td>...</td></tr>
        </table>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <a href="#admin/pages/create" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->