<div class="row">
	<div class="col-sm-offset-4 col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Log In</h2>
			</div>
			<div class="panel-body">
				<form class="form-horizontal col-sm-offset-1 col-sm-10" id="formLogin">
					<div class="form-group" id="groupUsername">
						<input type="text" class="form-control" name="username" id="inputUsername" placeholder="Username" autofocus />
					</div>
					<div class="form-group" id="groupPassword">
						<input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password" />
					</div>
					<div class="form-group">
						<div class="alert alert-danger hidden" id="alertUsername">Username required.</div>
						<div class="alert alert-danger hidden" id="alertPassword">Password required.</div>
						<div class="alert alert-danger hidden" id="alertUnauthorized">Username or password incorrect.<br/><a href="#password">Reset Password</a> or <a href="#register">Register</a>.</div>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-default" id="btnLogin">Log in</button>
						<a href="#mainMenu" class="btn btn-default pull-right">Main Menu</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>