<div class="row">
	<div class="col-md-offset-4 col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Log In</h2>
			</div>
			<div class="panel-body">
				<form class="form-horizontal" id="loginForm">
					<div class="form-group col-md-12">
						<input type="text" class="form-control input-sm" name="username" id="inputUsername" placeholder="Username" required autofocus>
					</div>
					<div class="form-group col-md-12">
						<input type="password" class="form-control input-sm" name="password" id="inputPassword" placeholder="Password" required>
					</div>
					<div class="form-group col-md-12">
						<div class="checkbox">
							<label><input type="checkbox"> Remember me</label>
						</div>
					</div>
					<div class="form-group col-md-12">
						<button type="submit" class="btn btn-default" id="btnLogin">Log in</button>
						<a href="#mainMenu" class="btn btn-default">Back</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>