<div class="row">
	<div class="col-md-offset-4 col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Menu</h2>
			</div>
			<div class="panel-body">
				<div class="list-group">
					<a href="#play" class="list-group-item">Play</a>
					<a href="#edit" class="list-group-item">Edit</a>
					<a href="#options" class="list-group-item">Options</a>
					<a href="#login" class="list-group-item">Login/Register</a>
				</div>
			</div>
		</div>
	</div>
</div>