<div class="jumbotron">
	<h1>Manage</h1>
    <h2><small>Database</small></h2>
</div>
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><small><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Users</small></h4>
        </div>
        <table class="table table-hover table-condensed">
            <tr><td>...</td></tr>
            <tr><td>...</td></tr>
            <tr><td>...</td></tr>
        </table>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <a href="#admin/users/create" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add User</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><small><i class="glyphicon glyphicon-lock"></i>&nbsp;&nbsp;Roles</small></h4>
        </div>
        <table class="table table-hover table-condensed">
            <tr><td>...</td></tr>
            <tr><td>...</td></tr>
            <tr><td>...</td></tr>
        </table>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <a href="#admin/roles/create" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add Role</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><small><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Categories</small></h4>
        </div>
        <table class="table table-hover table-condensed">
            <tr><td>...</td></tr>
            <tr><td>...</td></tr>
            <tr><td>...</td></tr>
        </table>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <a href="#admin/categories/create" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add Category</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><small><i class="glyphicon glyphicon-file"></i>&nbsp;&nbsp;Pages</small></h4>
        </div>
        <table class="table table-hover table-condensed">
            <tr><td>...</td></tr>
            <tr><td>...</td></tr>
            <tr><td>...</td></tr>
        </table>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <a href="#admin/pages/create" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>