<div class="row">
	<div class="col-md-offset-4 col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Audio Options</h2>
			</div>
			<div class="panel-body">
				<div class="list-group">
					<label class="list-group-item"><input type="checkbox"> Option 1</label>
					<label class="list-group-item"><input type="checkbox"> Option 2</label>
					<label class="list-group-item"><input type="checkbox"> Option 3</label>
					<a href="#options" class="list-group-item">Back</a>
				</div>
			</div>
		</div>
	</div>
</div>