<div class="row">
	<div class="col-md-offset-4 col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Options</h2>
			</div>
			<div class="panel-body">
				<div class="list-group">
					<a href="#optionsAudio" class="list-group-item">Audio</a>
					<a href="#optionsVideo" class="list-group-item">Video</a>
					<a href="#optionsControl" class="list-group-item">Control</a>
					<a href="#mainMenu" class="list-group-item">Main Menu</a>
				</div>
			</div>
		</div>
	</div>
</div>